:root {
  --solarized-base03: #002b36; /* (  0,  43,  54) */
  --solarized-base02: #073642; /* (  7,  54,  66) */
  --solarized-base01: #586e75; /* ( 88, 110, 117) */
  --solarized-base00: #657b83; /* (101, 123, 131) */
  --solarized-base0: #839496; /* (131, 148, 150) */
  --solarized-base1: #93a1a1; /* (147, 161, 161) */
  --solarized-base2: #eee8d5; /* (238, 232, 213) */
  --solarized-base3: #fdf6e3; /* (253, 246, 227) */
  --solarized-yellow: #b58900; /* (181, 137,   0) */
  --solarized-orange: #cb4b16; /* (203,  75,  22) */
  --solarized-red: #dc322f; /* (220,  50,  47) */
  --solarized-magenta: #d33682; /* (211,  54, 130) */
  --solarized-violet: #6c71c4; /* (108, 113, 196) */
  --solarized-blue: #268bd2; /* ( 38, 139, 210) */
  --solarized-cyan: #2aa198; /* ( 42, 161, 152) */
  --solarized-green: #859900; /* (133, 153,   0) */
}

@each $color in "base03", "base02", "base01", "base00", "base0", "base1",
  "base2", "base3", "yellow", "orange", "red", "magenta", "violet", "blue",
  "cyan", "green"
{
  .reveal .#{$color} {
    color: var(--solarized-#{$color});
  }
}

mark {
  background-color: transparent;
  color: var(--solarized-blue);
}
