.reveal .slides section,
.reveal .slides section>section {
  display: flex !important;
  /* 改为flex布局 */
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
}

.reveal h5 {
  text-align: left;
  margin: 1rem auto 0.5rem 2rem;
}

.reveal hr {
  border: none;
  height: 0.06rem;
  background-color: var(--solarized-base00);
  margin-left: 2rem;
  margin-top: 0px;
  width: 50%;
}

.reveal p {
  margin: 1rem 2rem;
  text-align: justify;
  word-wrap: break-word;
}

.reveal ul>li,
.reveal ol>li {
  color: var(--solarized-yellow);
  margin-right: 2rem;
  text-align: justify;
  word-wrap: break-word;
}

.reveal ul {
  list-style-type: "\266b  ";
}

.reveal ul ul {
  list-style-type: "\266a  ";
  margin-left: -1rem;
}

.reveal pre {
  background-color: transparent !important;
  box-shadow: none;
  width: 86%;
}

.reveal .center {
  margin-left: auto;
  margin-right: auto;
}

.mermaid {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.reveal blockquote {
  width: 90%;
  margin: 0 auto;
  padding: 0 1rem;
  font-style: italic;
  text-align: left;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.reveal blockquote p {
  text-align: justify;
  word-wrap: break-word;
}

.reveal table {
  margin: 2rem auto;
}

// 以下为脚注上下间距和4个图案
.reveal .footnote {
  margin-top: auto;
  margin-bottom: 0.5rem;
}

.reveal .hand::before {
  content: "\f0a4";
  font-family: FontAwesome;
  color: var(--solarized-base01);
}

.reveal .comments::before {
  content: "\f086";
  font-family: FontAwesome;
  color: var(--solarized-yellow);
}

.reveal .book::before {
  content: "\f02d";
  font-family: FontAwesome;
  color: var(--solarized-red);
}

.reveal .conclusion::before {
  content: "\f044";
  font-family: FontAwesome;
  color: var(--solarized-blue);
}

// 以下用于mathjax4的样式
// 数学公式统一着色
.reveal mjx-container[jax="CHTML"] {
  color: var(--solarized-magenta);
}

// 行内公式左右间隔
.reveal .mathjax-exps mjx-container[jax="CHTML"],
.reveal .fragment mjx-container[jax="CHTML"],
.reveal .footnote mjx-container[jax="CHTML"] {
  margin-left: 0.2rem !important;
  margin-right: 0.2rem !important;
}

// 行间公式上下间隔
.reveal mjx-container[display="true"] {
  margin-top: -1.0rem !important;
  margin-bottom: -1.0rem !important;
}

// 数学公式中的文本
.reveal mjx-mtext {
  font-weight: 600 !important;
  font-size: 0.9em !important;
}

.reveal mjx-xypic mjx-xypic-object {
  color: var(--solarized-magenta) !important;
}

.reveal mjx-xypic g {
  stroke: var(--solarized-magenta) !important;
}